body {
  background-image: linear-gradient(#3e2723, #000000);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #eeeeee;
  overflow: hidden;
  font-family: Didact Gothic;
}

#cover {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 10);
  transition: transform 0.3s ease-in-out;
  border: 5px solid #000000;
}

#cover:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 10);
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

button:hover {
  color: #7e6363;
  transition: color 0.3s ease-in-out;
}

.audio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 1rem 0;
  font-size: 1.5rem;
}

#previous,
#next {
  font-size: 3rem;
}

#play {
  font-size: 4rem;
}

#pause {
  font-size: 4rem;
  display: none;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.progress-container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

#progress {
  width: 100%;
  height: 10px;
  margin-top: 10px;
  background-color: #333;
  border-radius: 5px;
}

#progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 5px;
}

#progress::-webkit-progress-value {
  background-color: #3e2723;
  border-radius: 5px;
}

#progress::-moz-progress-bar {
  background-color: #3e2723;
}

#progress::-ms-fill {
  background-color: #3e2723;
  border-radius: 5px;
}
