body {
  background-image: linear-gradient(#222831, #393e46);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #eeeeee;
  overflow: hidden;
  font-family: "Lucida Sans";
}

#cover {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 10);
  transition: transform 0.3s ease-in-out;
}

#cover:hover {
  transform: scale(1.1);
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

button:hover {
  color: #879AABff;
}

.audio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 1rem 0;
  font-size: 1.5rem;
}

#previous,
#next {
  font-size: 3rem;
}

#play {
  font-size: 4rem;
}

#pause {
  font-size: 4rem;
  display: none;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
